# -*- coding: utf-8 -*-
#
# This file is part of INSPIRE.
# Copyright (C) 2014-2017 CERN.
#
# INSPIRE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# INSPIRE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with INSPIRE. If not, see <http://www.gnu.org/licenses/>.
#
# In applying this license, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.

notifications:
  email: false

language: python

cache: pip

python:
  - 2.7
  - 3.6

matrix:
  fast_finish: true

before_install:
  - travis_retry pip install --upgrade pip setuptools
  - travis_retry pip install coveralls

install:
  - travis_retry pip install -e .[tests]

script:
  - py.test inspire_dojson tests/unit

after_success:
  - coveralls

deploy:
  provider: pypi
  user: inspirehep
  password:
    secure: "faQiewsrTwjJPZ6apZRnrxQNOvIUa3BX9Zaopo+oTdUFd6VYGyZi+YUwnWlXQu8+H8LkycjmDeCZ2O1b3mBO5a7+lNsiMh4d/qde0WQPBy6c/uBdb++eLrCsCOY6ILzyRhZpSYSeT4GytW3FYD9WUvROxCuivzGit9av6DpPITxJMcgOiCOUoYf3PdI4t23t+zHPj0eLYOSVuuuZUd5KPR7KL6dVy6wc7CN6bmS4Z6iAP2o2TWaeA0asI04DXkGif1hP861wbJqPvIPa2v8Cbk+srrEdsiN5lQwHvlvUUVYopJvrncR1VvRi4pXwvxLNK+lKIo4cOGTVLyUdHytNAUl/Jq30Ozq+HSYXYzp5r0sGQCSJftNBfJPxEqeku3D4eTsTvj7GmFX6LAjiDjeeSEAZLdi2HM+p+/YQmAfoziii+dEon52bcTL8KCee3Xa9BWBnITTgAZtTg+IAH3z72YBNEtzH0VrQe9I9aNhVLKTPlr0uV5V/ldkwBlhE9HV+srR1DCdnbt402wZ97+tZCF1mmSdLfLrXsiJhrleygd1EgMkgaujGo4nMtSdVpPpCdHtzFjHtaZQJTHXaQlJrLBnx5uVNRFnDR0Y+lqNujvmsCV7MYS7ggznFnd0JwI5Amuht5dfF2pu9LEA3QZaGN8YyV159qtB+tugeRoSEzp8="
  on:
    branch: master
    python: 2.7
  distribution: sdist
